.card {
	position: relative;
	width: 50%;
	background-color: transparent;
	margin: 0 20px;
	perspective: 1000px;
}

.card--fliped .card__inner {
	transform: rotateY(180deg);
}

.card__inner {
	width: 100%;
	height: 100%;
	color: var(--color-ivory);
	font-weight: 500;
	background: rgba(187, 187, 187, 0.25);
	padding: 10px 20px 40px;
	border-radius: 2px;
	box-shadow: 0 4px 20px -4px rgba(0,0,0,0.2);
	transition: background ease-in-out .15s, transform 0.8s;
	transform-style: preserve-3d;
}

.card__front, .card__back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card__back {
	transform: rotateY(180deg);
}

.card__edit {
	position: absolute;
	top: 0;
	right: 0;
	color: var(--color-ivory);
	font-weight: 500;
	background: transparent;
	border: none;
	border-radius: 2px;
	padding: 10px;
}

.card__edit:hover {
	cursor: pointer;
	background: rgba(187, 187, 187, 0.35);
}

.card.card--empty .card__inner {
	min-height: 160px;
	min-width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card.card--empty .card__inner:hover {
	cursor: pointer;
	background: rgba(187, 187, 187, 0.35);
	box-shadow: 0 4px 20px 0px rgba(0,0,0,0.2);
}

.card__add {
	letter-spacing: 0.03em;
}

/* Fighter Card */
.fighter__image {
	/* display: none; */
	position: absolute;
	max-width: 400px;
	bottom: 0;
}

.fighter__image--1 {
	left: 0;
}

.fighter__image--2 {
	right: 0;
}

.card__name {
	font-size: 28px;
	text-align: center;
	margin: 0;
}

.card__total {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	text-align: center;
}

.card__record {
	color: #e2e2e2;
	font-size: 12px;
	font-weight: 400;
	margin: 15px -20px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card__record-stat {
	font-size: 30px;
	font-weight: 500;
	color: var(--color-ivory);
}

.card__stats {
	font-weight: 400;
	text-align: center;
	margin: 20px 0 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.card__accuracy {
	font-size: 34px;
	font-weight: 500;
}

.card__bio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 10px 0;
}

.card__bio-item {
	font-size: 16px;
	text-align: center;
	border-top: 1px solid #e2e2e238;
	width: 33%;
	padding: 8px 0;
}

.card__bio-header {
	color: #e2e2e2;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

.card__table {
	padding-top: 3px;
	border-top: 1px solid #e2e2e238;
	width: 100%;
	margin: 10px 0;
	font-size: 16px;
	text-align: center;
}

.card__table th, .card__table td {
	width: 33%;
}

.card__table-header {
	color: #e2e2e2;
	font-size: 14px;
	font-weight: 400;
}